.fondo{
    -fx-background-color: #99E2B4;
}

.button{
    -fx-border-radius:10;
    -fx-padding: 5;
    -fx-background-color: #67B99A;
    -fx-text-fill:white;
}

.linkBasic{
    -fx-text-fill:white;
    -fx-font-weight:bold;
}